{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">


<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% trans 'System' %}</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'local/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'local/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'local/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'local/images/favicon.png' %}" />
</head>

<body class="sidebar-dark">
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{% if base_main_settings and base_main_settings.big_logo %}{{ base_main_settings.big_logo.url }}{% else %}{% static 'local/images/big-logo.png' %}{% endif %}" alt="logo">
              </div>
              <h4 class="font-weight-light text-center">{% trans 'Sign in to continue' %}</h4>
                <hr/>
                <div class="form-group text-center">

{#                <!-- {{ telegram_login_widget|safe }} -->#}
{#                {% autoescape off %}{{ telegram_login_widget }}{% endautoescape %}#}
                <!-- THIS SCRIPT SHOULD BE REPLACED -->
                    <script async src="https://telegram.org/js/telegram-widget.js?4" data-telegram-login="tbgmn_bot"
                            data-size="medium" data-radius="1" data-auth-url="https://www.book-plays.com/accounts/redirect/"
                            data-request-access="write"></script>
{#                    <script async src="https://telegram.org/js/telegram-widget.js?2"#}
{#                            data-telegram-login="rahimliar_bot"#}
{#                            data-size="large"#}
{#                            data-auth-url=""#}
{#                            data-request-access="write">#}
{#                    </script>#}
                </div>

            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'local/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'local/js/off-canvas.js' %}"></script>
  <script src="{% static 'local/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'local/js/template.js' %}"></script>
  <script src="{% static 'local/js/settings.js' %}"></script>
  <script src="{% static 'local/js/todolist.js' %}"></script>
  <!-- endinject -->
</body>


</html>

