{% load static %}
<tr id="list-item-{{ data_item.id }}">
    <td>{{ for_i }}</td>
    <td>{{ data_item.title }}</td>
    <td>{{ data_item.gender }}</td>
    <td>{{ data_item.status }}</td>
    <td>
        <a data-fancybox="gallery" href="{% if data_item.photo %}{{ data_item.photo.url }}{% else %}{% static 'local/images/default-user.png' %}{% endif %}">
            {% if data_item.photo %} <img alt="{{ data_item.title }}" src="{{ data_item.photo.url }}" style="max-height: 50px;width: auto;"/> {% else %} <img alt="{{ data_item.title }}" src="{% static 'local/images/default-user.png' %}" style="max-height: 50px;width: auto;"/>{% endif %}
        </a>
        </td>
    <td>{{ data_item.date|date:'d.m.Y H:i' }}</td>
    <td>
        <a style=""  href="{% url 'panel:avatar-item-edit' data_item.id %}" class="btn btn-icon btn-square btn-warning">
             <i class="ti-pencil-alt"></i>
        </a>
        <a style="" href="javascript:void(0)" onclick="deleteDataItem('{% url 'panel:avatar-item-remove' data_item.id %}',{{ data_item.id }})" class="btn btn-icon btn-square btn-danger">
            <i class="ti-close"></i>
        </a>
    </td>
</tr>