{% load static %}{% load i18n %}





<div class="table-responsive" style="height: 442px;">
    <table class="table table-bordered">
        <thead class="">
            <tr class="">
                <th class="jsgrid-header-cell" >n</th>
                <th class="jsgrid-header-cell" >{% trans 'Title' %}</th>
                <th class="jsgrid-header-cell" >{% trans 'Gender' %}</th>
                <th class="jsgrid-header-cell" >{% trans 'Status' %}</th>
                <th class="jsgrid-header-cell" >{% trans 'Photo' %}</th>
                <th class="jsgrid-header-cell" >{% trans 'Date' %}</th>
                <th class="jsgrid-header-cell" >/</th>
            </tr>
        </thead>
        <tbody id="">
            {% autoescape off %}
            {{ list_html }}
            {% endautoescape %}
        </tbody>
    </table>
</div>\


