{% load static %}{% load i18n %}

<div class="row">
<div class="col-md-12 grid-margin">
  <div class="card bg-primary border-0 position-relative">
    <div class="card-body">
      <p class="card-title text-white">{% trans 'Overview' %}</p>
      <div id="performanceOverview" class="carousel slide performance-overview-carousel position-static pt-2" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-6 item">
                <div class="d-flex flex-column flex-xl-row mt-4 mt-md-0">
                  <div class="icon icon-a text-white mr-3">
                    <i class="ti-menu-alt icon-lg ml-3"></i>
                  </div>
                  <div class="content text-white">
                    <div class="d-flex flex-wrap align-items-center mb-2 mt-3 mt-xl-1">
                      <h3 class="font-weight-light mr-2 mb-1">{% trans 'Sections' %}</h3>
                    </div>
                    <div class="col-8 col-md-7 d-flex border-bottom border-info align-items-center justify-content-between px-0 pb-2 mb-3">
                      <h5 class="mb-0">{{ section_count }}</h5>
                    </div>
                    <p class="text-white font-weight-light pr-lg-2 pr-xl-5">{% trans 'The total number of sections' %}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 item">
                <div class="d-flex flex-column flex-xl-row mt-5 mt-md-0">
                  <div class="icon icon-c text-white mr-3">
                    <i class="ti-user icon-lg ml-3"></i>
                  </div>
                  <div class="content text-white">
                    <div class="d-flex flex-wrap align-items-center mb-2 mt-3 mt-xl-1">
                      <h3 class="font-weight-light mr-2 mb-1">{% trans 'Employees' %}</h3>
                    </div>
                    <div class="col-8 col-md-7 d-flex border-bottom border-info align-items-center justify-content-between px-0 pb-2 mb-3">
                      <h5 class="mb-0">{{ employees_count }}</h5>
                    </div>
                    <p class="text-white font-weight-light pr-lg-2 pr-xl-5">{% trans 'The total number of active employees' %}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#performanceOverview" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">{% trans 'Previous' %}</span>
        </a>
        <a class="carousel-control-next" href="#performanceOverview" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">{% trans 'Next' %}</span>
        </a>
      </div>
    </div>
  </div>
</div>
</div>