{% extends 'base-main.html' %}
{% load static %}
{% load i18n %}

{% block css_block %}

  <link rel="stylesheet" href="{% static 'local/vendors/jsgrid/jsgrid.min.css' %}">
  <link rel="stylesheet" href="{% static 'local/vendors/jsgrid/jsgrid-theme.min.css' %}">

  <style>
        #js-grid{
            height: 500px;
            width: 100%;

        }
  </style>
    <style>
.no-js #form-loader { display: none;  }
.js #form-loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background: url(http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_2.gif) center no-repeat #ffffffab;
}

</style>
{% endblock %}
{% block content_block %}
    <div class="se-pre-con"></div>
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">{% trans 'Avatar' %} -
                    {% if data_obj %}
                        {{ data_obj.title }}
                    {% endif %}</h4>
                  <form class="forms-sample" method="post" action="" id="main-form-data" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                        {{ form.title }}
                    </div>
                    <div class="form-group" style="display: block">
                        <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label>
                        {{ form.gender }}
                    </div>
                    <div class="form-group" style="display: block">
                        <label for="{{ form.status.id_for_label }}">{{ form.status.label }}</label>
                        {{ form.status }}
                    </div>
                    <div class="form-group" style="display: block">
                        <label for="{{ form.photo.id_for_label }}">{{ form.photo.label }}</label>
                        {{ form.photo }}
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">{% trans 'Submit' %}</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- content-wrapper ends -->
    {% endblock %}
  {% block js_block %}

    <script>
        activeMenu('ui-avatars');
    </script>

  <script src="{% static 'local/vendors/select2/select2.min.js' %}"></script>
  <script src="{% static 'local/js/select2.js' %}"></script>
    <script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
<script>
    {% if messages %}
        {% for message in messages %}
          swal({
            title: '{% trans 'Congratulations' %}!',
            icon: 'success',
            text: '{{ message }}',
            button: {
              text: "{% trans 'OK' %}",
              value: true,
              visible: true,
              className: "btn btn-primary"
            }
          });
        {% endfor %}
    {% endif %}


    $(".se-pre-con").hide();
    var form_submit = false;
        $( "#main-form-data" ).submit(function( event ) {
          {#alert( "Handler for .submit() called." );#}
          event.preventDefault();
          if (!form_submit){
              form_submit = true;
                $(".se-pre-con").show();
                $.ajax({
                    url: '',
                    type: 'post',
                      data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                      contentType: false, // The content type used when sending data to the server.
                      cache: false, // To unable request pages to be cached
                      processData: false,
                    success: function(data){
                      $(".se-pre-con").hide();
                      if (data['message_code']){
                        Swal.fire({
                            type: 'success',
                            title: '{% trans 'Success' %}',
                            text: data['message_title']
                        });
                        setTimeout(function(){
                            window.location.href = data['redirect_url'];
                        }, 2000);
                      }else{
                        form_submit = false;
                        Swal.fire({
                            type: 'error',
                            title: data['message_title'],
                            html: data['message_text']
                        });
                      }
                    },error: function (jqXhr, textStatus, errorMessage) { // error callback
                        $(".se-pre-con").hide();
                        form_submit = false;
                        Swal.fire({
                            type: 'error',
                            title: '{% trans 'Xəta baş verdi' %}',
                            html: err.toString(),
                        });
                    }
                });
          }else{
            $(".se-pre-con").hide();
            Swal.fire({
                type: 'info',
                title: '{% trans 'Gözləyin' %}',
                {#html: err.toString(),#}
            });
          }
        });
    </script>

  {% endblock %}
