{% extends 'base-main.html' %}
{% load static %}
{% load i18n %}

{% block css_block %}

  <link rel="stylesheet" href="{% static 'local/vendors/jsgrid/jsgrid.min.css' %}">
  <link rel="stylesheet" href="{% static 'local/vendors/jsgrid/jsgrid-theme.min.css' %}">
  <style>
        #js-grid{
            height: 500px;
            width: 100%;

        }
  </style>
{% endblock %}
{% block content_block %}
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">{% trans 'Settings' %}</h2>
                  <form class="forms-sample" method="post" action="" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                        <label for="id_delay_days">{% trans 'Limit point' %}</label>
                        {{ form.limit_point }}
                    </div>
                    <div class="form-group">
                        <label for="id_delay_days">{% trans 'Big logo' %}</label>
                        {{ form.big_logo }}
                    </div>
                    <div class="form-group">
                        <label for="id_delay_days">{% trans 'Small logo' %}</label>
                        {{ form.small_logo }}
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">{% trans 'Submit' %}</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- content-wrapper ends -->
    {% endblock %}
  {% block js_block %}

    <script>
        activeMenu('ui-main-settings');
    </script>

<script src="{% static 'local/vendors/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'local/vendors/jquery.avgrund/jquery.avgrund.min.js' %}"></script>
<script>
    {% if messages %}
        {% for message in messages %}
          swal({
            title: '{% trans 'Congratulations' %}!',
            icon: 'success',
            text: '{{ message }}',
            button: {
              text: "{% trans 'OK' %}",
              value: true,
              visible: true,
              className: "btn btn-primary"
            }
          });
        {% endfor %}
    {% endif %}
</script>
  {% endblock %}