{% load static %}{% load i18n %}





<div class="table-responsive" style="height: 442px;">
    <table class="table table-bordered">
        <thead class="">
            <tr class="">
                <th class="jsgrid-header-cell" >n</th>
                <th class="jsgrid-header-cell" >{% trans 'Name' %}</th>
                <th class="jsgrid-header-cell" >{% trans 'Surname' %}</th>
                <th class="jsgrid-header-cell" >{% trans 'Email' %}</th>
                <th class="jsgrid-header-cell" >{% trans 'Username' %}</th>
                <th class="jsgrid-header-cell" >{% trans 'Point' %}</th>
                <th class="jsgrid-header-cell" >{% trans 'Phone' %}</th>
                <th class="jsgrid-header-cell" >{% trans 'Type' %}</th>
                <th class="jsgrid-header-cell" >{% trans 'Date' %}</th>
                <th class="jsgrid-header-cell" >/</th>
            </tr>
        </thead>
        <tbody id="">
            {% autoescape off %}
            {{ list_html }}
            {% endautoescape %}
        </tbody>
    </table>
</div>\


